backports.functools-lru-cache==1.5
certifi==2018.10.15
chardet==3.0.4
colorama==0.4.0
configparser==3.5.0
crayons==0.1.2
future==0.16.0
idna==2.7
pynput==1.4
python-xlib==0.23
requests==2.20.0
selene==1.0.0a13
selenium==2.53.1
six==1.11.0
urllib3==1.23
virtualenv==16.1.0
webdriver-manager==1.7
